body{
    background:-moz-linear-gradient(45deg,#ffffff 0%,#A6A6A6 99%,#A6A6A6 100%) no-repeat center fixed;/*ff3.6+*/
    background:-webkit-gradient(linear,left bottom,right top,color-stop(0%,#ffffff),color-stop(99%,#A6A6A6),color-stop(100%,#A6A6A6)) no-repeat center fixed;/*safari4+,chrome*/
    background:-webkit-linear-gradient(45deg,#ffffff 0%,#A6A6A6 99%,#A6A6A6 100%) no-repeat center fixed;/*safari5.1+,chrome10+*/
    background:-o-linear-gradient(45deg,#ffffff 0%,#A6A6A6 99%,#A6A6A6 100%) no-repeat center fixed;/*opera11.10+*/
    background:-ms-linear-gradient(45deg,#ffffff 0%,#A6A6A6 99%,#A6A6A6 100%) no-repeat center fixed;/*ie10+*/
    background:linear-gradient(45deg,#ffffff 0%,#A6A6A6 99%,#A6A6A6 100%) no-repeat center fixed;/*w3c*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center;
    background-size: 100% 100%;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6A6A6',endColorstr='#ffffff',GradientType=1);/*ie6-9*/
}

/* START login-style */
.login-style {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:2px solid #ffffff;
    background-color:#52CC00;
    -webkit-box-shadow: #B3B3B3 25px 25px 25px;
    -moz-box-shadow: #B3B3B3 25px 25px 25px;
    box-shadow: #B3B3B3 25px 25px 25px;
    background-size: 100%;
    width:20%;
    margin: 12% auto 4% auto;
    padding-bottom: 6em;
    align-content: center;
    align-items: center;
    text-align: center;
    horiz-align: center;
    color: white;
}
.login-style h1{
    color: #fff;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 35px;
    font-weight:600;
    text-align: center;
    margin:13% auto 4% auto ;
    padding-top: 10px;
    horiz-align: center;
}
.login-style form input[type="password"]{
    width:69%;
    font-size: 0.9em;
    outline: none;
    font-weight:700;
    color:#fff;
    padding: 1em 1.7em;
    margin: 8px 25px;
    border: 1px solid #28344B;
    background:#28344B;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius: 6px;
    box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    -moz-box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    -webkit-box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    font-family: 'Comic Sans MS', sans-serif;
}
.login-style form input[type="text"]{
    width:69%;
    font-size: 0.9em;
    outline: none;
    font-weight:700;
    color:#fff;
    padding: 1em 1.7em;
    margin: 8px 25px;
    border: 1px solid #28344B;
    background:#28344B;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius: 6px;
    box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    -moz-box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    -webkit-box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    font-family: 'Comic Sans MS', sans-serif;
}
.login-style form input[type="submit"]{
    width:84%;
    font-size: 19px;
    display: inline-block;
    font-weight:700;
    color: #28467B;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    cursor: pointer;
    outline: none;
    padding: 0.8em 1em;
    border-radius: 1px solid #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    font-family: 'Comic Sans MS', sans-serif;
    border-bottom: #3C67B5;
    border-top: #fff;
    -webkit-appearance: none;
    background: #9DBEF9;
    box-shadow: 0px 0px 8px 1px #000;
    background: rgb(204,223,255);
    background: -moz-linear-gradient(top,  rgb(204,223,255) 0%, rgb(158,192,249) 54%, rgb(154,188,247) 77%, rgb(158,191,247) 90%, rgb(165,196,247) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,223,255)), color-stop(54%,rgb(158,192,249)), color-stop(77%,rgb(154,188,247)), color-stop(90%,rgb(158,191,247)), color-stop(100%,rgb(165,196,247)));
    background: -webkit-linear-gradient(top,  rgb(204,223,255) 0%,rgb(158,192,249) 54%,rgb(154,188,247) 77%,rgb(158,191,247) 90%,rgb(165,196,247) 100%);
    background: -o-linear-gradient(top,  rgb(204,223,255) 0%,rgb(158,192,249) 54%,rgb(154,188,247) 77%,rgb(158,191,247) 90%,rgb(165,196,247) 100%);
    background: -ms-linear-gradient(top,  rgb(204,223,255) 0%,rgb(158,192,249) 54%,rgb(154,188,247) 77%,rgb(158,191,247) 90%,rgb(165,196,247) 100%);
    background: linear-gradient(to bottom,  rgb(204,223,255) 0%,rgb(158,192,249) 54%,rgb(154,188,247) 77%,rgb(158,191,247) 90%,rgb(165,196,247) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfff', endColorstr='#a5c4f7',GradientType=0 );
}
.login-style input[type="text"]:hover {
    box-shadow: 0 0 8px 2px #ffffff;
}
.login-style input[type="password"]:hover {
    box-shadow: 0 0 8px 2px #ffffff;
}
.login-style input[type="submit"]:hover {
    box-shadow: 0 0 8px 2px #ffffff;
}

/**Post styles*/
.modal-style {
    margin-top: 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:2px solid #ffffff;
    background-color:#52CC00;
    -webkit-box-shadow: #B3B3B3 25px 25px 25px;
    -moz-box-shadow: #B3B3B3 25px 25px 25px;
    box-shadow: #B3B3B3 25px 25px 25px;
    background-size: 100%;
    width:100%;
    /*margin: 12% auto 4% auto;*/
    padding-bottom: 6em;
    align-content: center;
    align-items: center;
    text-align: center;
    horiz-align: center;
    color: white;
}
.modal-style h1{
    color: #fff;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 35px;
    font-weight:600;
    text-align: center;
    margin:8% auto 4% auto ;
    padding-top: 5px;
    horiz-align: center;
}

.modal-style h3{
    color: #000;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 25px;
    font-weight:600;
    text-align: center;
    horiz-align: center;
}

.modal-style textarea{
    background:#28344B;
    resize: none;
    color: white;
}
.modal-style form input[type="file"]{
    width:69%;
    font-size: 0.9em;
    outline: none;
    font-weight:700;
    color:#fff;
    padding: 1em 1.7em;
    margin: 8px 25px;
    border: 1px solid #28344B;
    background:#28344B;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius: 6px;
    box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    -moz-box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    -webkit-box-shadow: inset 2px 2px 10px rgba(26, 21, 21, 0.54);
    font-family: 'Comic Sans MS', sans-serif;
}
.modal-style form input[type="submit"]{
    width:84%;
    font-size: 19px;
    display: inline-block;
    font-weight:700;
    color: #28467B;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    cursor: pointer;
    outline: none;
    padding: 0.8em 1em;
    border-radius: 1px solid #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    font-family: 'Comic Sans MS', sans-serif;
    border-bottom: #3C67B5;
    border-top: #fff;
    -webkit-appearance: none;
    background: #9DBEF9;
    box-shadow: 0px 0px 8px 1px #000;
    background: rgb(204,223,255);
    background: -moz-linear-gradient(top,  rgb(204,223,255) 0%, rgb(158,192,249) 54%, rgb(154,188,247) 77%, rgb(158,191,247) 90%, rgb(165,196,247) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,223,255)), color-stop(54%,rgb(158,192,249)), color-stop(77%,rgb(154,188,247)), color-stop(90%,rgb(158,191,247)), color-stop(100%,rgb(165,196,247)));
    background: -webkit-linear-gradient(top,  rgb(204,223,255) 0%,rgb(158,192,249) 54%,rgb(154,188,247) 77%,rgb(158,191,247) 90%,rgb(165,196,247) 100%);
    background: -o-linear-gradient(top,  rgb(204,223,255) 0%,rgb(158,192,249) 54%,rgb(154,188,247) 77%,rgb(158,191,247) 90%,rgb(165,196,247) 100%);
    background: -ms-linear-gradient(top,  rgb(204,223,255) 0%,rgb(158,192,249) 54%,rgb(154,188,247) 77%,rgb(158,191,247) 90%,rgb(165,196,247) 100%);
    background: linear-gradient(to bottom,  rgb(204,223,255) 0%,rgb(158,192,249) 54%,rgb(154,188,247) 77%,rgb(158,191,247) 90%,rgb(165,196,247) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdfff', endColorstr='#a5c4f7',GradientType=0 );
}
.modal-style input[type="submit"]:hover {
    box-shadow: 0 0 8px 2px #ffffff;
}
.modal-style form input[type="radio"]{
    color: white;
    text-align: center;
    font-size: 23px;
}
.modal-style form table {
    padding: 20px;
}

.modal-style .profileImg{
    align-self: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid #000;
}


.signup a{
    margin: auto;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
    text-shadow: 0 0px 0 #000;
}

.signup {
    margin: auto;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
    color:#C9D1E5;
    text-shadow: 0 1.5px 0 #000;
}

/* END login-style */

/*Feed Page styles*/
.navbar > ul {
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 10;
}

.navbar > ul > li{
    position: relative;
    float: left;
}

.navbar > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar > ul > li > button {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 0px;
}

.navbar > ul > li > a:hover{
    background-color: darkgreen;
}
.navbar > ul > li > button:hover{
    background-color: darkgreen;
}

.navbar > ul > li > a.avatar{
    padding: 2px 10px;
    position: fixed;
    right: 100px;
}

.navbar > ul > li > a.avatar > img.avatar{
    margin-top: 0px;
    align-self: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.navbar > ul > li > a.avatar:hover{
    background-color: transparent;
}

.navbar > ul > li > a.logout {
    position: fixed;
    right: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 35px;
    color: #4CAF50;
    display: block;
    transition: 0.3s;
    margin-right: 10px;
}

.sidenav a.closebtn:hover , .offcanvas a:focus{
    color: darkgreen;
    text-decoration: underline;
    background-color: #111;
}

.sidenav a:hover , .offcanvas a:focus{
    text-decoration: none;
    color: #4CAF50;
    background-color: darkgrey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

img.friendImg{
    max-width: 50px;
    max-height: 50px;
    margin-left: 8px;
    margin-right: 8px ;

}

.active {
    background-color: #4CAF50;
}

#feed{
    width: 130%;
    padding: 16px;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    align-items: center;
    align-content: center;
    align-self: center;
}


/*Thumb modal*/
img {
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 90%;
    max-width: 700px;
}



/* Add Animation */
.modal-content{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.modal > .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal > .close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

ul#myMenu.dropdown-menu{
    display: block;
    z-index: auto;
    opacity: 1;
}