body{
    background: -moz-linear-gradient(45deg, #ffffff 0%, #A6A6A6 99%, #A6A6A6 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ffffff), color-stop(99%, #A6A6A6), color-stop(100%, #A6A6A6)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #ffffff 0%, #A6A6A6 99%, #A6A6A6 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #ffffff 0%, #A6A6A6 99%, #A6A6A6 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #ffffff 0%, #A6A6A6 99%, #A6A6A6 100%); /* ie10+ */
    background: linear-gradient(45deg, #ffffff 0%, #A6A6A6 99%, #A6A6A6 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A6A6A6', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}