.postLayout {
    display: block;
    margin-top: 15px;
}
.postLayout:first-child {
    margin-top: 0;
}
.postLayout,
.postLayout-header-body,
.postLayout-body{
    zoom: 1;
    overflow: hidden;
}
.postLayout-header-body {
    width: 100%;
}
.postLayout-body{
    width: 10000px;
}
.postLayout-object {
    height: 100px;
    width: 100px;
    display: block;
}
.postLayout-right,
.postLayout > .pull-right {
    padding-left: 10px;
}
.postLayout-left,
.postLayout > .pull-left {
    padding-right: 10px;
}
.postLayout-left,
.postLayout-right,
.postLayout-header-body,
.postLayout-body{
    display: table-cell;
    vertical-align: top;
}
.postLayout-middle {
    vertical-align: middle;
}
.postLayout-bottom {
    vertical-align: bottom;
}
.postLayout-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.postLayout-list {
    padding-left: 0;
    list-style: none;
}

a.user{
    font-size: 20px;
    color: #111111;
}

a.user:hover{
    color: #111111;
    cursor: default;
    text-decoration: none;
}

span.date {
    color: lightgrey;
}

.postLayout-header-body ul{
    display: table-cell;
}

.postLayout-header-body ul li{
    display: block;
}

.comments-header {
    position: relative;
    padding: 3px 5px;
    background: #F5F5F5;
    font-weight: 500;
    font-size: 12px;
    color: #c2c2c2;
}
.comments-header > p {
    color: #424242;
    padding: 0 5px;
}

.comments-header >  a {
    color: #3C67B5;
}

.comments-header >  a:hover {
    cursor: default;
    color: #28344B;
    text-decoration: none;
}

a.author {
    font-weight: 500;
    font-size: 14px;
    color: #26a69a;
    padding-right: 5px;
}

a.author:hover  {
    text-decoration: none;
    color: #26a69a;
    cursor: default;
}

.header-date {
    color: white;
}

.date {
    color: #888;
}

.commenter-img{
    height: 50px;
    width: 50px;
    display: block;
}
.panel.panel-default ul.comments {
    list-style: none;
    padding: 0;
    border-top: 1px solid #e2e9e6;
    margin-bottom: 0;
}

.panel.panel-default ul.comments li {
    border-bottom: 1px solid #F5F5F5;
    background: #fff;
    padding: 5px;
}

.like-btn{
    color: #111111;
    margin-right: 5px;
    right: 5px;
}